VITE_SUPABASE_PROJECT_ID="vwhhxdkxwgonzhpruymh"
VITE_SUPABASE_PUBLISHABLE_KEY="<SUPABASE_JWT_HIDDEN>m9sZSI6ImFub24iLCJpYXQiOjE3NjY0MDg1NjQsImV4cCI6MjA4MTk4NDU2NH0.LqauSTy_0RztDIzrc85Xehegnf5NnQy7wnSyfE5gPGG8"
VITE_SUPABASE_URL="https://vwhhxdkxwgonzhpruymh.supabase.co"
GEMINI_API_KEY="add_your_api_key"
VITE_BACKEND_URL="https://kle-token-server-2n1o.onrender.com"
VITE_AI_API_URL="https://kle-connect.vercel.app/api/ai"
VITE_AGORA_APP_ID="bb21d68abe3449f9b90944ee33253fa5"
VITE_TOKEN_SERVER_URL="https://kle-token-server.onrender.com"
VITE_THINKLM_INGEST_URL="https://<your-supabase-project>.functions.supabase.co/thinklm-ingest"
VITE_THINKLM_QUERY_URL="https://<your-supabase-project>.functions.supabase.co/thinklm-query"
